modLoader = "javafml" #mandatory
loaderVersion = "${loader_version_range}" #mandatory This is typically bumped every Minecraft version by Forge. See our download page for lists of versions.
license = "${mod_license}"
issueTrackerURL="https://github.com/Arcomit/emberthral/surpass"
[[mods]] #mandatory
modId = "${mod_id}" #mandatory
version = "${mod_version}" #mandatory
displayName = "${mod_name}" #mandatory
authors = "${mod_authors}" #optional
credits="Furia, 0999312, Arcomit, AbbyQAQ"
displayURL = "https://www.curseforge.com/minecraft/mc-mods/surpass"
logoFile="surpass.png"
description = '''
超越限制，该模组旨在让拔刀剑变得更加超模。
Break limits, this mod is designed to make the Slash Blade even more overpowered.
'''

[[dependencies."${mod_id}"]] #optional
modId = "forge" #mandatory
mandatory = true #mandatory
versionRange = "${forge_version_range}" #mandatory
ordering = "NONE"
side = "BOTH"# Here's another dependency
[[dependencies."${mod_id}"]]
modId = "minecraft"
mandatory = true
versionRange = "${minecraft_version_range}"
ordering = "NONE"
side = "BOTH"
#拔刀剑：重锋(前置)
[[dependencies.${mod_id}]]
modId="slashblade"
mandatory=true
versionRange="[1.8.60,)"
ordering="NONE"
side="BOTH"
